<h1>Всякие новости:</h1>

<% @articles.each do |article| %>

<h2>
    <%= article.title %>
</h2>

<p>
    <%= article.text %>
</p>

<p>
    <%= link_to 'Показать', article_path(article) %>
    <%= link_to 'Изменить', edit_article_path(article)%>
    <%= link_to 'Удалить' , article_path(article), method: :delete, data: { confirm: 'Вы уверены?' } %>
</p>

<hr />

<% end %>