<h3><%= @article.title %></h3>
<p>
    <%= @article.text %>
</p>
<p>
    <%= link_to "К статьям", articles_path%>
</p>
<h4>
    Комментарии:
</h4>
<% @article.comments.each do |commment| %>
<b><%= commment.author %></b> (<%= @article.created_at.inspect %>) написал(а):
<p>
    <%= commment.body %>
</p>
<hr />
<% end %>
<h4>
    Высказаться:
</h4>
<%= form_for ([@article, @article.comments.build]) do |f| %>
    <p>
        <!-- <%= f.label :body %> <br /> -->
        <%= f.text_area :body %>
    </p>
    <p>
        <%= f.submit 'Отправить' %>
    </p>
<% end%>