<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <link rel="stylesheet" 
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" 
      crossorigin="anonymous">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
  	<div class="container">
      <nav class="navbar navbar-default" role="navigation"> 
        <div class="navbar-header"-->
          <ul class="nav navbar-nav">
            <li><a class="navbar-brand" href="/">Бложик</a></li>
            <li>
              <% if user_signed_in? %>
                <%= link_to 'Написать статью', new_article_path() %>
              <% end %>
            </li>
          </ul>  
        </div>
        <div>
          <ul class="nav navbar-nav">
            <li><a href="/contacts">Контакты</a></li>
          </ul>  
        </div>
        <div>
          <ul class="nav navbar-nav">
            <li><a href="/about">О Нас</a></li>
          </ul>  
        </div>
        <div>
          <ul class="nav navbar-nav">
            <li><a href="/terms">Соглашения</a></li>
          </ul>  
        </div>
        <div>
          <ul class="nav navbar-nav">
            <% if user_signed_in? %>
              <li>Hello, <%= current_user.username %></li> 
              <li><%= link_to "Выйти", destroy_user_session_path, method: :delete %></li>
            <% else %>
              <li><%= link_to "Войти", new_user_session_path %></li> 
            <% end %> 
          </ul>
        </div>  
      </nav>
      <div>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
